body {
    zoom: 150%;
    background-image: url("image/image.webp");
    font-weight: 400; 
    font-family: 'poppinsmedium';
    max-width: 1200px;
    margin: 0 auto;
    padding: auto;
    flex-direction: row;
}

header {
    width: 100%;
    display: flex;
    height: 200px;
    justify-content: space-between;
}
button{
    margin-top: 38px;
    font-family: 'poppinsmedium';
    font-size: 15px;
    height: 40px;
    width: 100px;
    color: rgb(219, 226, 231);
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

h1 {
    margin: 0;
    color: rgb(206, 206, 206);
}

#title{
    font-size: 10px;
    margin: 53px;
    margin-right: 380px;
    color: rgb(218, 241, 241);
    height: 0px;
}
#Phrases{
    margin-left: 15px;
} 
.landing {
    font-size: 200px;
    height: 65px;
    color: azure;
}
a{
    color: rgb(218, 241, 241);
}
#b {
    margin-right: 700px;
    line-height: 20px;
    max-width: 500px;
    font-size: 20px;
    color: rgb(184, 223, 223);
    height: 130px;
}

h5 {
    margin: 5px;
    font-size: 30px;
    height: 65px;
    display: flex;
    color: rgb(218, 241, 241);
}

#buttons2 {
    justify-content: space-between;
    font-size: 15px;
    margin-left: 90px;
    color: rgb(218, 241, 241);
}

.contact{
    margin-left: 30px;
}

main{   
    height: 15px;
    width: 100%;
    margin: 0px;
    font-size: 20px;
    font-weight: 100px;
}

button:hover{
    color: rgb(119, 65, 170) !important;
    border-color: rgb(141, 116, 116) !important;
    transition: all .3s ;
}

